.App {
  text-align: center;
  
}
.area {
text-align: var(100vh);
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: unset;
}
.Table {
  text-align: center;
  text-shadow: #282c34;
  color: #fba661;
  display: flex;
  justify-content: center;
  background-color: rgb(194, 22, 22);
  padding: 5px 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
